.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------sections----------- */
.head {
  align-self: center;
  padding: 20px;
}

.article-box {
  align-self: center;
  border: solid rgb(10, 10, 202);
  border-radius: 15px;
}
/* --------------------------------*/

.article {
  align-self: center;
  border: solid rgb(61, 112, 61);
  border-radius: 15px;
  list-style-type: none;
  margin: 20px;
  padding: 5px;
}
