body, html {
  background-image: url("https://t4.ftcdn.net/jpg/01/95/73/03/360_F_195730369_Fi6XI2ORrPgnxtZ000SqW5lY6wlNXW5d.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------sections----------- */
.head {
  align-self: center;
  padding: 20px;
  color:rgb(244, 238, 62);
}

.article-box {
  align-self: center;
  border-radius: 15px;
}
/* --------------------------------*/

.article {
  align-self: center;
  border: solid rgb(61, 112, 61);
  border-radius: 15px;
  list-style-type: none;
  margin: 20px;
  padding: 5px;
}

.title {
  color: rgb(57, 174, 247);
}

.author {
  color:rgb(152, 210, 246)
}

.article-url {
  text-decoration: underline;
  color: rgb(115, 47, 210);
}